{# templates/products.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Products table{% endblock %}
{% block content %}
	{% if cat %}
		<h1>{{ cat.name }}</h1>
		<p>{{ cat.description }}</p>

		{% if cat.products|length > 0 %}    	
			<table>
				<tr><th>Name</th><th>Description</th><th>Stock</th><th>weight</th><th>Buy</th></tr>
				{% for prod in cat.products %}
					<tr>
						<td>{{ prod.name }}</td>
						<td>{{ prod.description }}</td>
						<td>{{ prod.stock }}</td>
						<td>{{ prod.weight }}</td>
						<td>
							<form action = {{path('add')}} method = 'POST'>
								<input name = 'units' type='number' min = '1' value = '1'>
								<input type = 'submit' value='Buy'>
								<input name = 'cod' type='hidden' value = {{prod.codprod}}>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>No products in the category</p>
		{% endif %}
	{% else %} {# if cat is nulll #}
		Category not found
	{% endif %}
	
{% endblock %}

 