{# templates/texts/show.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>WELCOME TO YOUR PRINCIPAL PAGEeee</h1>
        <hr>
 {% block header %}
    {{ parent() }} {# Esto llama al contenido del bloque header del base.html.twig #}
{% endblock %}
TU ID: {{app.user.id}}
{% for text in texts %}
            <h2>Title: {{ text.description }}</h2>
            <p>Text: {{ text.content }}</p>
           <p>ID EL AUTOR: {{text.userId}}</p>
            <p>Genre: {{ text.genre }}</p>
            <p>Privacy: {{ text.privacy }}</p>

            {# Formulario para eliminar el texto #}
     
            <br>

            <br>
            <hr>
       
       
 
   {% endfor %}
{% endblock %}
